@model TicariOtomasyon.Models.Kategori
@{
    ViewData["Title"] = "YeniKategori";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">
<label> Kategori Ad</label>
@Html.TextBoxFor(x=>x.KategoriAd, new{@class="form-control"})
<button class="btn btn-outline-success"> Kaydet </button>




</form>

