@using TicariOtomasyon.Models
@model List<Departman>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<table class="table table-bordered">
    <tr>
        <td>Id</td>
        <td>Departman Adı</td>
        <td>Sil</td>
        <td>Güncelle</td>
        <td>Detay</td>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.DepartmanId</td>
            <td>@x.DepartmanAd</td>
            <td><a href="/Departman/DepartmanSil/@x.DepartmanId">Sil </a></td>
            <td><a href="/Departman/DepartmanGetir/@x.DepartmanId">Güncelle </a></td>
          <td><a href="/Departman/DepartmanDetay/@x.DepartmanId">Departman Detay </a></td>

        </tr>
    }

  
</table>
<a href="/Departman/DepartmanEkle" class="btn btn-dark" > Yeni Departman
    </a>

