@model TicariOtomasyon.Models.Personel
@{
    ViewData["Title"] = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<form method="post">

    <label>Personel Adı</label>
   @Html.TextBoxFor(x=>x.PersonelAd, new{@class="form-control"})
     <label>Personel Soyad</label>
   @Html.TextBoxFor(x=>x.PersonelSoyad, new{@class="form-control"})
     <label>Personel Görsel</label>
   @Html.TextBoxFor(x=>x.PersonelGorsel, new{@class="form-control"})

    <label>Departman</label>
     @Html.DropDownListFor(x=>x.DepartmanId,(List<SelectListItem>)ViewBag.dgr, new{@class="form-control"})
 
  
   <button class="btn btn-primary"> Ekle</button>

</form>
